{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="row">
    <div class="col">
        <h1>About Beilo:</h1>
        <hr>
        <p>Beilo is a website that allows you to create boards to store a multitude of things.</p>
        <p>Some examples are:</p>
        <ul class="list-group">
            <li class="list-group-item">A board for keeping track of thoughts</li>
            <li class="list-group-item">A board for organizing homework</li>
            <li class="list-group-item">A board for keeping notes</li>
            <li class="list-group-item">etc.</li>
        </ul>
        <h1>Instructions:</h1>
        <p>To create a board go to the home page and click 'Create New Board' and give it a title and you can give it an optional description</p>
        <p>Once in a board you can create a list by clicking 'Create List' you then can modify the list by pressing the 'Modify' button on the list. You can also drag the lists around to the three different columns</p>
    </div>
</div>
{% endblock %}